.container{
  width:  1050px;
}
.navbar-default {
    /*background-color: #FFF;
    border-bottom: 1px solid #ddd;*/
}
.navbar-nav li a{
  /*color: #E7E7E7!important;*/
}
.navbar-nav li a:hover{
  color: #3498db!important;
}
/*.dropdown-toggle:focus{
  background: none!important;
}*/
/*ul.dropdown-menu li a{
  color: #000!important;
}*/
body{
  background-color: #FCFCFC;
  /*font-family: 'Roboto', sans-serif;*/
}
a {
  color: #444; }

a:hover {
  color: #000;
  text-decoration: none;
}


.label-custom-primary {
  background: none;
  border: 1px solid #2980B9;
  color: #2980B9 !important;
}
.label-custom-primary:hover {
  background: #2980B9;
  border: 1px solid #2980B9;
  color: #FFF !important;
}

h2.title, h3.title {
  margin-top: 0;
  /*border-left: 2px solid #E74C3C;*/
  text-transform: uppercase;
  font-weight: bold;
  /*padding-left: 10px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

h2.title {
  font-size: 16px;

}

/*HOME*/
.home-label-tag {
  font-size: 12px;
  border-radius: 16px;
  font-weight: bold;
  padding: 5px 12px;
  line-height: 25px; }

.header-wrap{
  background-color: #FFF;
  border-bottom: 1px solid #E7E7E7;
}
.home-row-header {
  margin: 20px 0; }

.home-row-tags {
  margin: 35px 0; }

.home-row-artists {
  margin: 20px 0; }


.box-video-lg-header a{
  color: #EEE;
}
.box-video-lg-header a:hover{
  color: #FFF;
  text-decoration: none;
}

.box-video-lg-header > small > a:hover{
  color: #;
}

.box-video-action-btns > div > a:hover{
  color: #FFF;
}
.box-video-lg-action-btns > .box-video-btns-btn{
  width: auto;
  float: right;
  padding: 5px;  
  /*background-color: pink;*/
}
.box-video-lg-action-btns{
  margin-bottom: 5px;
}
.box-video-lg-action-btns > a {
  padding-left: 5px;
  color: #FFF;
  text-decoration: none;
}
.box-video-btns-btn a {
  text-decoration: none;
}
.box-video-action-btns > .box-video-btns-btn{
  width: auto;
  float: right;
  padding: 5px;
  /*background-color: pink;*/
}
.box-video-image-row > div > .image-wrap{
  background-color: #000;
}
.box-video-image-row > div > div > img:hover{
}
.box-video{
  /*background-color: green;*/
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.box-video-body{
  height: 90px;
}

.profile-cover{
  background-color: #111;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 180px;
  background-size: cover;
  background-position: top center;
  color: #FFF;
}

#player{
  display: none;
}
#player-wrap{
  cursor: pointer;
}


.myOpacity{
  opacity: 0.5;
}

/*PROFILE SEARCH*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
/*PROFILE SEARCH*/

.img-overlay{
  pointer-events: none;
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  height:100%;
  width: 100%;
  z-index:0;
  opacity:  0.2;
}

.box-video-action-btns > a > span{
  color: #FFF;
}
.video-btns-action{
  display: none;
}

.box-video-md{
/*-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);*/
}

.video-btns-action > a {
  color: #999;
  font-weight: normal!important;
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/*BOX VIDEO MD*/
.box-video-title{
  font-weight: bold;
}
h3.box-video-title{
  margin-top: 10px;
  font-size: 22px;
}
h4.box-video-title{
  font-size: 18px;
  font-weight: bold;
}
h5.box-video-title{
  font-size: 14px;
}
.box-video-title a{
  color: #444;
}
.box-video-title a:hover{
  color: #3498db;
}
h4.box-video-title small{
  padding-left: 5px;
}
.box-video-title small{
  padding-left: 8px;
}
.box-video-title > small > span{
  color: #444;
}
.video-btns-action a{
  padding-left: 5px;
}
/*BOX VIDEO MD*/

/*BOX VIDEO LG*/
.box-video-lg-title a, .box-video-lg-action-btns > a{
  color: #444;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
}
.box-video-lg-title a:hover{
  color: #3498db;
}
h1.box-video-lg-title{
  font-size: 28px;
  margin-top: 10px;
}
h1.box-video-lg-title > small{
  padding-left: 10px;
}

/*BOX VIDEO LG*/

/*BOX ARTISTS*/
h3.box-artists-title{
  margin-top: 10px; /*Desconto para ficar no centro da imagem*/
  font-size: 15px;
  font-weight: bold;
}
.box-artists-title a{
  color: #444;
}
.box-artists-title a:hover{
  color: #3498db;
}
/*BOX ARTISTS*/


/*HEADER*/
.header-input-search{
  color: #999;
}
.header-input-search::-webkit-input-placeholder{
  /*color: red;*/
  font-weight: normal;
  font-size: 14px;
}
/*HEADER*/